<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Read Again</h1>
            <h3 class="mb-5">
                <em>Crea tu listas con los libros que has leído</em>
            </h3>
            {{#if user}}
                <a class="btn btn-primary btn-lg" href="/profile">
                Tu perfil!
                </a>
            {{else}}
                <a class="btn btn-primary btn-lg" href="/signin">
                Empezar!
                </a>
            {{/if}}
            
        </div>
        <div class="overlay"></div>
    </header>
</main>