<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Bienvenido {{user.name}}</h3>
                    <h4>{{user.username}}</h4>
                    <a href="/lists/add" class="btn btn-primary m-4">
                        Crear lista  
                    </a>
                    <br>
                    <a href="/lists" class="btn btn-primary m-4">
                        Ver mis listas  
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>