<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>{{list.list_name}}</h3>
                    <h4>{{list.list_description}}</h4>
                    <a href="/lists" class="btn btn-primary m-4">
                        Ver mis listas  
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Libro</th>
      <th scope="col">Reseña</th>
      <th scope="col">Clasificación</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>It</td>
      <td>Excelente</td>
      <td>4.5</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Mujercitas</td>
      <td>Bueno</td>
      <td>4</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Metamorfosis</td>
      <td>Bueno pero raro</td>
      <td>4</td>
    </tr>
  </tbody>
</table>