<div class="container p-4">
    <div class="row">
        {{#each users}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                        <h3 class="card-title text-uppercase">
                            {{name}}
                        </h3>
                    <p class="m-2">{{username}}</p>
                    <a class="btn btn-danger" href="chat/{{id}}">
                        Chat
                    </a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay usuarios creados</p>
            </div>
        </div>
        {{/each}}
    </div>
</div>